<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="ChuoiKetNoiTDMU"
			 connectionString="Data Source=LAPTOP-DG7E8GEE;Initial Catalog=QLPhongHoc_TDMU;Integrated Security=True;TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

</configuration>